<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="row" th:fragment="accountList">
    <div class="col-md-4">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">John</h4>
                <p class="card-subtitle">SUPER_ADMIN</p>
            </div>
            <div class="card-footer">
                <p class="card-text d-inline col-6">UserName : john</p>
                <p class="card-text d-inline">Password : john</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Emma</h4>
                <p class="card-text text-muted">EMPLOYEE_ADMIN</p>
            </div>
            <div class="card-footer">
                <p>UserName : emma</p>
                <p>Password : emma</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">William</h4>
                <p class="card-text  text-muted">DEPARTMENTS_CREATE, DEPARTMENTS_READ, DEPARTMENTS_PAGE_VIEW</p>
            </div>
            <div class="card-footer">
                <p class="card-text d-inline col-6">UserName : william</p>
                <p class="card-text d-inline col-6">Password : william</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lucas</h4>
                <p class="card-text  text-muted">CUSTOMERS_READ, CUSTOMERS_PAGE_VIEW</p>
            </div>
            <div class="card-footer">
                <p class="card-text d-inline col-6">UserName : lucas</p>
                <p class="card-text d-inline col-6">Password : lucas</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tom</h4>
                <p class="card-text  text-muted">NO_ROLES</p>
            </div>
            <div class="card-footer">
                <p class="card-text d-inline col-6">UserName : tom</p>
                <p class="card-text d-inline col-6">Password : tom</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>